<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <n>smartstock</n>
    <displayName><![CDATA[EJ Smart Stock]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Gestión de stock avanzada: escáner EAN13, historial con filtros, estado e importación masiva CSV]]></description>
    <author><![CDATA[Ecommjuice]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
